@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@200;300;500;800&display=swap');
@import './variables';

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Montserrat';
  font-display: swap;
}
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: $orange;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5a5a5;
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: $black;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 37%;
  left: 42%;
  text-align: center;
  width: 20%;
  height: 20%;
}

.preloader__item {
  position: absolute;
  top: 0;
  animation: preloader-bounce 2s infinite ease-in-out;

  img {
    width: 80%;
  }
}

@keyframes preloader-bounce {
  0%,
  100% {
    transform: scale(0.6);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}
.loaded .preloader {
  display: none;
}