@import '../../styles/variables';

.root {
    width: 100%;
    display: grid;
    place-items: center;
    background-image: url('../../assets/calc-bg.avif');
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    .wrapper {
        width: 80%;
        display: grid;
        place-items: center;
        color: $white;
        padding: 3% 0%;
        h1 {
            font-size: calc(#{$size}*1.4);
            font-weight: 800;
            text-align: center;
            width: 50%;
        }
        p {
            font-size: calc(#{$size}/1.4);
            font-weight: 300;
            text-align: center;
            width: 60%;
            margin-bottom: 2%;
        }
        a {
            width: 40%;
            border-radius: 50px;
            padding: 1.5% 0%;
            margin-bottom: 2%;
            text-decoration: none;
            text-align: center;
            border: none;
            font-size: calc(#{$size}/1.5);
            font-family: 'Montserrat';
            font-weight: 500;
            color: $white;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                opacity: 0.6;
                transition: all .3s;
            }
        }
        .info_button {
            color: $black;
            background-color: $white;
            pointer-events: none;
        }
        .tg_btn {
            background-color: #2AABEE;
        }
        .viber_btn {
            background-color: #59267C;
        }
        .tel_btn {
            background-color: #004D73;
        }
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        width: 100% !important;
        h1 {
            width: 70% !important;
        }
    }
}
@media screen and (max-width: 600px) {
    .root {
        padding-bottom: 5% !important;
    }
    .wrapper {
        h1 {
           font-size: 20px !important;
        }
        p {
            font-size: 12px !important;
            margin-bottom: 5% !important;
            width: 80% !important;
        }
        a {
            width: 65% !important;
            font-size: 12px !important;
            padding: 3% 0% !important;
        }
    }
}